<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{store.state.orderName}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button (click)="store.onBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [formGroup]="dataService.deliverForm">
  <div class="product-area">
    <div class="product-img">
      <img src="../../../../../assets/img/blank-photo.png" *ngIf="dataService.deliverForm.get('productImg').value === null">
      <img [src]="imageService.safePhotoURL(dataService.deliverForm.get('productImg').value)" *ngIf="dataService.deliverForm.get('productImg').value !== null">
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Name:</ion-label>
          <ion-input formControlName="name" readonly></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Quantity:</ion-label>
          <ion-input formControlName="quantity" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Price:</ion-label>
          <ion-input formControlName="price" readonly></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Subtotal:</ion-label>
          <ion-input formControlName="subtotal" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Order By:</ion-label>
          <ion-input formControlName="customerName" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Phone No:</ion-label>
          <ion-input formControlName="customerMobileNum" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Date:</ion-label>
          <ion-input formControlName="orderDate" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Address:</ion-label>
          <ion-input formControlName="shippingAddress" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="store.state.haveBuyerClassification">
      <ion-col>
        <ion-item>
          <ion-label>Classification:</ion-label>
          <ion-input formControlName="classification" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Order Note:</ion-label>
        <ion-input formControlName="orderNote" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="action-input margin-top">
      <ion-item *ngIf="store.state.userType === 'Buyer' && store.state.orderStatus === 'Deliver'">
        <ion-label>Status</ion-label>
        <ion-select formControlName="deliveryStatus">
          <ion-select-option *ngFor="let status of dataService.orderStatusesBuyer" [value]="status">
            {{status}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Courier</ion-label>
            <ion-select (ionChange)="store.onCourierOk($event)" formControlName="courierNameHolder" [selectedText]="store.state.courierName">
              <ion-select-option *ngFor="let courier of store.state.couriers" [value]="courier.id" [disabled]="store.state.userType === 'Buyer'">
                {{courier.first_name+" "+courier.last_name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Phone No:</ion-label>
            <ion-input formControlName="courierPhoneNum" readonly></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button
      class="margin-top"
      expand="block"
      *ngIf="store.state.userType === 'Buyer'"
      (click)="store.onStoreInformation()">
        Store Information
      </ion-button>  
      <p class="warning-msg" *ngFor="let msg of store.state.warningMsgs">
        {{msg}}
      </p>
      <!-- <ion-button
      class="margin-top"
      expand="block"
      *ngIf="store.state.orderStatus !== 'Order Received'"
      [disabled]="store.state.orderStatus !== 'On The Way' ||
                  store.state.courerHaveEnableWatch === false"
      (click)="store.onLocationClick()"
      >Location</ion-button>  seller and buyer can monitor courier--> 
      <ion-button
      class="margin-top"
      expand="block"
      *ngIf="store.state.isShowBuyerLocationBtn"
      (click)="store.onLocationClick()">
        Location
      </ion-button>  
      <ion-button
       expand="block"
      (click)="store.onSubmit(dataService.deliverForm)"
      [disabled]="dataService.deliverForm.invalid ||
      store.state.requests.addToDeliver.inProgress ||
      store.state.requests.updateToDeliver.inProgress"
      *ngIf="store.state.userType === 'Seller' && store.state.orderStatus !== 'Order Received'"
      >
       {{dataService.buttonName(store.state.orderStatus)}}
      </ion-button>
      <ion-button
        expand="block"
        *ngIf="store.state.userType ==='Buyer' && store.state.orderStatus === 'Order Received' && store.state.alreadyAddedStoreRating === false"
        (click)="store.onAddRating()"
        [disabled]="store.state.requests.addRating.inProgress ||
                    store.state.requests.selectRatingByUserId.inProgess ||            
                    store.state.alreadyAddedStoreRating"
      >
        Add Rating
      </ion-button>
      <ion-button
       expand="block"
       *ngIf="store.state.userType === 'Buyer' && store.state.orderStatus === 'Deliver'"
       (click)="store.onSetOrderReceivedByBuyer()"
       [disabled]="store.state.requests.updateOrderStatus.inProgress"
      >
       Update
      </ion-button>
      <ion-button
      *ngIf="store.state.userType === 'Buyer' && store.state.orderStatus === 'Order Received' && store.state.alreadyAddedStoreReport === false"
      expand="block"
      (click)="store.onAddReport()"
      >
      Add Report
      </ion-button>
    </div>
  </ion-grid>
</ion-content>