<ion-header *ngIf="store.state.actionType !== 'add'">
  <ion-toolbar color="primary">
    <ion-title>
      {{store.state.productName}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button (click)="store.onBackBtn()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [formGroup]="dataService.productForm">
  <div class="product-area">
    <div class="product-img">
      <img src="../../../../../assets/img/blank-photo.png" *ngIf="dataService.productForm.get('imgForDisplay').value === null">
      <img [src]="dataService.productForm.get('imgForDisplay').value" *ngIf="dataService.productForm.get('imgForDisplay').value !== null">
    </div>
     <div class="upload-btn" *ngIf="store.state.userType === 'Seller'">
        <ion-button color="primary" expand="block" (click)="store.onUploadImg()">Upload</ion-button>
     </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Remark</ion-label>
          <ion-input formControlName="remark" [readonly]="store.state.disableInput"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="name" [readonly]="store.state.disableInput"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Price(PHP)</ion-label>
          <ion-input formControlName="price" type="number" [readonly]="store.state.disableInput"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Weight</ion-label>
          <ion-input type="number" formControlName="weight" [readonly]="store.state.disableInput"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Weight In</ion-label>
          <ion-select formControlName="weightIn">
            <ion-select-option *ngFor="let weight of dataService.weightIn;" [value]="weight" [disabled]="store.state.disableInput">{{weight}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Avaiable</ion-label>
          <ion-select formControlName="isAvailable">
            <ion-select-option *ngFor="let available of dataService.isAvailable;" [value]="available" [disabled]="store.state.disableInput">{{available}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="buyer-input" *ngIf="store.state.userType === 'Buyer'">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Quantity</ion-label>
            <ion-input formControlName="quantity" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button 
        color="primary"
        expand="block"
        (click)="store.onAddToCart(dataService.productForm)"
      >Add To Cart</ion-button>
    </div>
  </ion-grid>
  <ion-button 
  *ngIf="store.state.userType === 'Seller'"
  color="primary"
  expand="block"
  [disabled]="dataService.productForm.invalid || store.state.request.addProduct.inProgress" 
  (click)="store.onSubmit(dataService.productForm)"
 >{{store.state.sellerBtnName}}</ion-button>
 <ion-button 
 color="primary"
 expand="block"
 (click)="store.onDelete()"
 *ngIf="store.state.actionType === 'update'"
>Delete</ion-button>

</ion-content>