<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" (click)="openMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-title>ARCHIVE</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar (ionInput)="store.onSearchProducts($event)"></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="store.onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let product of store.state.searchProducts;" (click)="store.onProductClick({productId: product.id, productName: product.name})">
      <ion-grid>
        <ion-row>
          <ion-col size="3"  class="col-avatar">
            <ion-avatar >
              <img [src]="imageService.safePhotoURL(product.img)" *ngIf="product.img !== null">
              <img src="../../../../../assets/img/blank-photo.png" *ngIf="product.img === null">
            </ion-avatar> 
          </ion-col>
          <ion-col size="5" class="col-text">
              <p>Name: {{product.name}}</p>
              <p>Weight: {{product.weight}}</p>
          </ion-col>
          <ion-col size="4" class="col-text">
            <p>Price: {{product.price}}</p>
            <p>Is Available: {{product.is_available}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>