<ion-app>
  <ion-menu contentId="menu-content" menuId="menu-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Hi, {{store.state.logInUserName}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle *ngIf="store.state.userType === 'Seller' || store.state.userType === 'Buyer'">
          <ion-item (click)="store.onProducts()">
            <ion-icon name="cube-outline" slot="start"></ion-icon>
            <ion-label>Products</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="store.state.userType === 'Seller' || store.state.userType === 'Buyer'">
          <ion-item (click)="store.onOrders()">
            <ion-icon name="clipboard-outline" slot="start"></ion-icon>
            <ion-label>Orders</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="store.state.userType === 'Buyer'">
          <ion-item (click)="store.onSukiList()">
            <ion-icon name="list-outline" slot="start"></ion-icon>
            <ion-label>Suki List</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="store.state.userType === 'Seller'">
          <ion-item (click)="store.onArchive()">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            <ion-label>Archive</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="store.state.userType === 'Seller'">
          <ion-item (click)="store.onStoreRating()">
            <ion-icon name="star-outline" slot="start"></ion-icon>
            <ion-label>Rating</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="store.state.userType === 'Seller'">
          <ion-item (click)="store.onStores()">
            <ion-icon name="storefront-outline" slot="start"></ion-icon>
            <ion-label>{{store.state.storeLabel}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="store.state.userType === 'Buyer'">
          <ion-item (click)="store.onCart()">
            <ion-icon name="cart-outline" slot="start"></ion-icon>
            <ion-label>Cart</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="store.state.userType === 'Buyer'">
          <ion-item (click)="store.onMyAccount()">
            <ion-icon name="accessibility-outline" slot="start"></ion-icon>
            <ion-label>My Account</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="store.state.userType === 'Courier'">
          <ion-item (click)="store.onDeliveries()">
            <ion-icon name="clipboard-outline" slot="start"></ion-icon>
            <ion-label>Deliveries</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="store.onLogOut()">
            <ion-icon name="close-outline" slot="start"></ion-icon>
            <ion-label>Log Out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-app>
