<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Forgot Password</ion-title>
    <ion-buttons slot="end">
      <ion-back-button (click)="store.onBackBtn()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-item class="margin-top">
   <ion-label position="floating">Email/Phone Number</ion-label>
   <ion-input [(ngModel)]="store.state.emailOrPhoneNum"></ion-input>
</ion-item>
<ion-item *ngIf="store.state.showNewPassword">
  <ion-label position="floating">New Password</ion-label>
  <ion-input [(ngModel)]="store.state.newPassword"></ion-input>
</ion-item>
<p *ngIf="store.state.warningMsg !== null">{{store.state.warningMsg}}</p>
</ion-content>
<ion-footer>
  <ion-button
  (click)="store.onSendNewPassword()"
  expand="block"
  [disabled] ="store.state.requests.getByMobileNumOrEmail.inProgress ||
               store.state.requests.updateUserPassword.inProgress"
  >{{store.state.btnName}}</ion-button>
</ion-footer>