<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
       STORE
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" (click)="openMenu()"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [formGroup]="dataService.storeForm">
  <div class="avatar-area">
    <div>
      <ion-avatar>
        <img [src]="imageService.safePhotoURL(dataService.storeForm.get('img').value)" *ngIf="dataService.storeForm.get('img').value !== null">
        <img src="../../../../../assets/img/blank-photo.png" *ngIf="dataService.storeForm.get('img').value === null">
      </ion-avatar>
    </div>
    <div class="upload-btn">
        <ion-button color="primary" expand="block" (click)="store.onUploadImg()">Upload</ion-button>
    </div>
  </div>
  <ion-item>
    <ion-label position="floating">Store Name</ion-label>
    <ion-input formControlName="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Information</ion-label>
    <ion-input formControlName="information"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Location</ion-label>
    <ion-input formControlName="location"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contact Number</ion-label>
    <ion-input type="tel" placeholder="09**********" formControlName="contactNumber"></ion-input>
  </ion-item>
  <ion-button 
  class="margin-top"
  color="primary"
  expand="block"
  [disabled]="dataService.storeForm.invalid ||
              store.state.requests.addStore.inProgress ||
              store.state.requests.updateStore.inProgress" 
  (click)="store.onSubmit(dataService.storeForm)"
 >{{store.state.actionName}}</ion-button>
</ion-content>